* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
.container {
    width: 90%;
    margin: 0 auto;
}
header {
    width: 100%;
}
nav {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
}
header ul {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 121px;
    height: 24px;
}
header li {
    list-style: none;
    padding: 10px;
}
header a {
    text-decoration: none;
    color: black;
    transition: 300ms;
}
header a:hover {
    color: #35AFF4;
}
ul button {
    padding: 8px 10px;
    border-radius: 8px;
    transition: 300ms;
}
.login {
    border: 1px solid #B7B7B7;
    background-color: white;
    margin-right: 10px;
}
.login:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
}
.sugnUp {
    background-color: black;
    border: 1px solid black;
    color: white;
}
.sugnUp:hover {
    background-color: white;
    border: 1px solid #B7B7B7;
    color: black;
}
.headerBody {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.headerBody_fonts{
    width: 47%;
    height: 100%;
    position: relative;
}
.underline {
    position: absolute;
    top: 245px;
    left: 0;
    z-index: -1;
}
.headerBody_fonts h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 91px;
}
.headerBody_fonts p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #909090;
    margin: 20px 0;
}
.headerBody_img {
    width: 47%;
    height: 100%;
}
.headerBody_img img {
    width: 100%;
    height: 90%;
}
.searching {
    width: 560px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #909090;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
}
.searching p {
    margin: 5px 0 0 0;
}
.searchItem {
    width: 30%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.searchIcon {
    width: 48px;
    height: 100%;
    border-radius: 10px;
    background-color: #35AFF4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* === BODY ===*/
.partners {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}
.partners h2 {
    font-size: 24px;
    font-weight: 500;
    color: #9E9E9E;
    padding-top: 6px;
}
.partners div {
    width: 65%;
    display: flex;justify-content: space-between;
}
.partners img {
    width: 15%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
/* === SCROLLBAR === */
.scrollingSection {
    width: 100%;
    height: 480px;
    margin: 30px 0;
    overflow: hidden;
    position: relative;
}
.scrollTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}
.scrollTop button {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #B9B9B9;
    background-color: white;
    transition: 300ms;
}
.scrollTop button:hover {
    border: 1px solid #35AFF4;
    background-color: #35AFF4;
    color: white;
}
.scrollTop h1{
    font-size: 36px;
    font-weight: 500;
}
.scrollTop p {
    font-size: 18px;
    font-weight: 400;
    color: #909090;
}
.scrollBody {
    width: 100%;
    height: 380px;
    display: flex;
    margin: 20px 0;
    position: absolute;
    top: 60px;
    left: 0;
    transition: 300ms;
}
.card {
    margin-right: 30px;
    position: relative;
}
.cardFont {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
    padding-top: 10px;
}
.cardFont h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.cardFont p {
    font-size: 16px;
    font-weight: 500;
    color: #909090;
}
.usd {
    color: #35AFF4;
}
.cost {
    color: black;
}
/* === COMMENTS === */
.commentSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 800px;
    overflow-y: scroll;
}
.column {
    width: 32%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.column:nth-child(2){
    margin-top: 60px;
}
.commentBox {
    width: 100%;
    height: 295px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px #171C1F3B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 25px;
}
.commentBox img {
    width: 116px;
}
.commentBox p {
    font-size: 16px;
    font-weight: 400;
    color: #909090;
}
.commnentProfile {
    display: flex;
    align-items: center;
}
.ava {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: #909090;
    margin-right: 20px;
}
/* === FORM, FOOTER === */
form {
    width: 100%;
    height: 224px;
    background-color: #35AFF4;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    color: white;
}
.formFont h1 {
    font-size: 28px;
    font-weight: 500;
}
.formFont p {
    font-size: 20px;
    font-weight: 400;
}
.apply input {
    width: 350px;
    border-radius: 8px;
    height: 40px;
    border: none;
    padding: 0 15px;
}
.apply button {
    height: 40px;
    background-color: black;
    padding: 10px 20px;
    border: none;
    color: white;
    transition: 300ms;
    border-radius: 8px;
}
.apply button:hover {
    background-color: white;
    color: black;
}
footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 50px 0;
}
footer .container, .ulDiv {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style: none;
}
footer ul p {
    margin-bottom: 20px;
}
footer p {
    width: 250px;
    margin-top: 30px;
}
footer img {
    margin-top: 23px;
}